*{
    margin:0;
    padding:0;
}
.navbar{
    display:flex;
    justify-content: space-between;
    background:url("./Assets/png/Merged\ bar-57.png") no-repeat;
    align-items:center;
    background-size: cover;
    top:0;
    position: fixed;
    width: 100%;
}
.navbar__logo{
    padding-left: 1.5em;
}
.navbar__listes{
    padding-right: 1.5em;
}
.navbar__listes--link{
text-decoration: none;
font-size: 1.5em;
padding-right: 1em;
font-weight: bold;
}
.lang{
    border: 1px solid orange;
    padding: 0.5em;
    border-radius: 15px;
}
/*.................section...................*/